/* Global Styles */
:root {
    --mainBackgroundColour: rgb(242, 242, 242);
    --mainBorder: 1px solid lightgrey;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centeredLeft {
    display: flex;
    align-items: center;
    justify-content: left;
}
.controlButton {
    height: 30px;
    width: 200px;
    margin-bottom: 10px;

    font-size: medium;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
    transition: 500ms background-color;
}
.controlButton:hover { 
    background-color: rgb(190, 190, 190) 
}

input[type=text] {
    font-size: large;
}
input[type=checkbox] {
    margin-left: 10px;
}

/* Main Container */
#shapeBuilderMenuWrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;

    background-color: var(--mainBackgroundColour);

    overflow: auto;
}
#shapeBuilderMenu {
    padding: 10px;
    border-left: var(--mainBorder);
}

/* Title Bar */
#title {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 100%;
}
#importShape {
    width: 150px;
    transform: translateY(5px);
    margin-right: 20px;
}

/* Shared Components for the editor inputs, e.g. (x, y, z) */
.h2 {
    font-size: larger;
    font-weight: bold;
}
.h3 {
    font-size: large;
    font-weight: bold;
}
.editorInputText {
    height: 100%;
    width: 100%;
    padding-left: 10px;

    border: none;
    border-left: var(--mainBorder);
    background-color: transparent;
}
.editorInputButton {
    width: 100%;
    height: 100%;

    border: none;
    background-color: transparent;
    transition: 500ms background-color;
    cursor: pointer;
    font-size: large;
}
.editorInputButton:hover {
    background-color: rgb(225, 225, 225); 
}
.deleteButton:hover {
    background-color: red;
}
.pointFaceControlButtons {
    height: 40px;
    width: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;

    background-color: white;
    border: var(--mainBorder);
}

.dataRow {
    height: 50px;

    display: grid;
    
    font-size: large;
    background-color: white;
    border-left: var(--mainBorder);
    border-bottom: var(--mainBorder);
    border-right: var(--mainBorder);
}

#pointList {
    width: 100%;
    height: max-content;
}
.point {
    grid-template-columns: 10% 28% 28% 28% 6%;
    grid-template-rows: 100%;
}

#faceList {
    width: 100%;
    height: max-content;
}
.face {
    grid-template-columns: 10% 60% 24% 6%;
    grid-template-rows: 100%;
}

.centeringButtons {
    grid-template-columns: 1fr 1fr 1fr;
}

#centeringContainer {
    width: 100%;
    height: max-content;

    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
}

/* Exporting */
.updateExportButtonWrapper {
    width: 100%;
    height: 50px;
}
#export:hover { 
    background-color: rgb(41, 134, 233); 
}
#exportCode {
    padding: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(26, 29, 34);

    color: lightgray;

    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}